.InfoBoxItem {
  font-size: 1.35vh;
  /* height: 3em; */
  line-height: 1.5;
  margin-bottom: 1em;
}

.InfoTitle {
  color: #61dafb;
  font-weight: 600;
}

.Name {
  color: #66c820;
  font-size: 2.5vh;
  font-weight: 700;
}

.Summ {
  grid-area: summary;
}
