.Cell {
  aspect-ratio: 1;
  box-sizing: border-box;
  width: auto;
}

.elmtCell {
  border: 1px solid #fff;
  cursor: pointer;
  display: grid;
  grid-template-areas:
    "elmtSymbol elmtNumber"
    "elmtName elmtName"
    "elmtInfo elmtInfo";
  padding: 0.2em;
}

.elmtCell:hover {
  background-color: rgb(226, 237, 123);
  color: rgb(186, 30, 176);
}

.elmtNumber {
  grid-area: elmtNumber;
  font-size: 1vw;
  text-align: end;
}

.elmtSymbol {
  grid-area: elmtSymbol;
  font-size: 1.7vw;
}

.elmtName {
  grid-area: elmtName;
  font-size: 0.6vw;
}

.elmtInfo {
  grid-area: elmtInfo;
  font-size: 0.8vw;
}

.diatomi {
  border-color: rgb(75, 215, 57);
  color: rgb(75, 215, 57);
}

.alkali {
  border-color: rgb(193, 93, 186);
  color: rgb(193, 93, 186);
}

.alkalin {
  border-color: rgb(226, 237, 123);
  color: rgb(226, 237, 123);
}

.transit {
  border-color: salmon;
  color: salmon;
}

.metallo {
  border-color: seagreen;
  color: seagreen;
}

.polyato {
  border-color: rgb(49, 204, 212);
  color: rgb(49, 204, 212);
}

.noble {
  border-color: gold;
  color: gold;
}

.post-tr {
  border-color: lightgoldenrodyellow;
  color: lightgoldenrodyellow;
}

.unknown {
  border-color: lightpink;
  color: lightpink;
}

.lanthan {
  border-color: lime;
  color: lime;
}

.actinid {
  border-color: magenta;
  color: magenta;
}
