.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 20vh;
  justify-content: center;
  text-align: center;
}

.Title {
  color: #61dafb;
  font-family: "Pacifico", cursive;
  font-size: 3vw;
  text-decoration: none;
}

.credits {
  color: white;
  font-size: 0.5em;
  margin-top: 1em;
}

.creditsName {
  color: #61dafb;
  text-decoration: none;
}

.creditsName:hover {
  color: #fbd461;
}

.creditsName:visited {
  text-decoration: none;
}

.Title:visited {
  color: #61dafb;
  text-decoration: none;
}
