.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 10vh;
  justify-content: center;
  text-align: center;
}

.Title {
  color: #61dafb;
  font-family: "Pacifico", cursive;
  font-size: 3vw;
  text-decoration: none;
}

.Title:visited {
  color: #61dafb;
  text-decoration: none;
}
