.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 8vw;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.Title {
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 3vw;
  text-decoration: none;
  text-shadow: 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18,
    0 0 40px #49ff18, 0 0 55px #49ff18;
}

.credits {
  color: white;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
}

.creditsName {
  color: #61dafb;
  text-decoration: none;
}

.creditsName:hover {
  color: #fbd461;
}

.creditsName:visited {
  text-decoration: none;
}

.Title:visited {
  color: #fff;
  text-decoration: none;
}
