.InfoBox {
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  display: grid;
  font-size: 0.8em;
  margin: 1em;
  padding: 0.8em;
  width: 80vw;
}

.InfoBoxLine {
  color: #fff;
  margin: 0.2em;
}
