.InfoBox {
  border: 1px solid rgb(116, 116, 116);
  box-sizing: border-box;
  color: #fff;
  display: grid;
  font-size: 0.8em;
  height: fit-content;
  gap: 2vw;
  grid-template-areas:
    "info info summary"
    "info info summary"
    "info info summary"
    "info info summary"
    "info info summary"
    "info info summary"
    "info info summary"
    "info info summary";
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 5em auto;
  padding: 0.8em;
  width: 50vw;
}
