.TableAndInfoBoxContainer {
  display: grid;
  grid-template-areas: "tableContainer infoContainer";
  grid-template-columns: 7fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.Table {
  display: grid;
  gap: 0.1em;
  grid-area: tableContainer;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(11, 1fr);
  margin: 1em;
  min-width: 760px;
  overflow: hidden;
}
