.TableAndInfoBoxContainer {
  display: flex;
  margin: 2rem auto;
  width: 100vw;
}

.Table {
  display: grid;
  flex: 0 0 70%;
  height: 100%;
  gap: 0.1rem;
  grid-template-columns: repeat(19, 5%);
  grid-template-rows: repeat(11, 1fr);
  min-width: 760px;
  overflow: hidden;
}
