.elmtCell {
  border: 1px solid #fff;
  cursor: pointer;
  display: grid;
  grid-template-areas:
    "elmtSymbol elmtNumber"
    "elmtName elmtName"
    "elmtInfo elmtInfo";
  padding: 0.15em;
}

.elmtNumber {
  grid-area: elmtNumber;
  font-size: 1vw;
  text-align: end;
}

.elmtSymbol {
  grid-area: elmtSymbol;
  font-size: 1.7vw;
}

.elmtName {
  color: #fff;
  font-weight: 500;
  grid-area: elmtName;
  font-size: 0.65vw;
}

.elmtInfo {
  grid-area: elmtInfo;
  font-size: 0.8vw;
}

.diatomi {
  background-color: #00a8971e;
  border-color: #00a896;
  color: #00a896;
}

.alkali {
  background-color: #ff7e472c;
  border-color: #ff7e47;
  color: #ff7e47;
}

.alkalin {
  background-color: #e7eb9021;
  border-color: #e7eb90;
  color: #e7eb90;
}

.transit {
  background-color: #a9f8fb14;
  border-color: #a9f8fb;
  color: #a9f8fb;
}

.metallo {
  background-color: #e2739625;
  border-color: #e27396;
  color: #e27396;
}

.polyato {
  background-color: #95abda25;
  border-color: #95abda;
  color: #95abda;
}

.noble {
  background-color: #ebc69925;
  border-color: #ebc699;
  color: #ebc699;
}

.post-tr {
  background-color: #f4fdaf1b;
  border-color: #f4fdaf;
  color: #f4fdaf;
}

.unknown {
  background-color: #f4607925;
  border-color: #f46079;
  color: #f46079;
}

.lanthan {
  background-color: #64f58d10;
  border-color: #64f58d;
  color: #64f58d;
}

.actinid {
  background-color: #4ce0d119;
  border-color: #4ce0d2;
  color: #4ce0d2;
}

.elmtCell:hover {
  background-color: rgb(0, 6, 50);
  border: 2px solid #fff;
  color: #fc620f;
  padding: 0.1em;
}

.highlight {
  background-color: rgb(47, 9, 1);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.15em;
}
