.PeriodGroupCell {
  align-items: center;
  color: rgb(116, 116, 116);
  cursor: pointer;
  display: flex;
  font-size: 2vw;
  justify-content: center;
}

.PeriodGroupCell:hover {
  color: #61dafb;
  font-weight: 600;
}
